@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 48% 93%;
    --foreground: 261 50% 15%;
    --card: 0 0% 100%;
    --card-foreground: 261 50% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 261 50% 15%;
    --primary: 261 52% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 285 48% 88%;
    --secondary-foreground: 261 50% 25%;
    --muted: 285 48% 88%;
    --muted-foreground: 261 50% 45%;
    --accent: 337 82% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 48% 85%;
    --input: 285 48% 85%;
    --ring: 337 82% 51%;
    --radius: 0.5rem;
    --chart-1: 261 52% 50%;
    --chart-2: 337 82% 51%;
    --chart-3: 285 48% 60%;
    --chart-4: 261 52% 70%;
    --chart-5: 337 82% 70%;
  }

  .dark {
    --background: 261 50% 5%;
    --foreground: 285 48% 93%;
    --card: 261 50% 10%;
    --card-foreground: 285 48% 93%;
    --popover: 261 50% 5%;
    --popover-foreground: 285 48% 93%;
    --primary: 261 52% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 261 50% 15%;
    --secondary-foreground: 285 48% 93%;
    --muted: 261 50% 15%;
    --muted-foreground: 285 48% 70%;
    --accent: 337 82% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 50% 15%;
    --input: 261 50% 15%;
    --ring: 337 82% 61%;
    --chart-1: 261 52% 60%;
    --chart-2: 337 82% 61%;
    --chart-3: 285 48% 50%;
    --chart-4: 261 52% 40%;
    --chart-5: 337 82% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
